/* .MuiSvgIcon-root {
    color: grey;
  }
  .MuiSelect-iconOutlined {
    color: rgb(193, 231, 57);
  }
  .TextField-assign fieldset {
    border-radius: 30px;
    border-color: black;
  } */

.main::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

.main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #fff;
  border-radius: 20px;
  margin: 5px;
}

.main::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 20px;
}

.main::-webkit-scrollbar-thumb:hover {
  background: #393939;
}

/* .css-mgacrb-MuiSelect-select-MuiInputBase-input-MuiInput-input.Mui-disabled,
  .css-1m5ns1x.Mui-disabled {
    -webkit-text-fill-color: #404040 !important;
    -webkit-text-fill-color: rgb(64, 64, 64) !important;
  } */
